# Render Backend URLs
NEXT_PUBLIC_AUTH_URL=https://gratia-auth.onrender.com
NEXT_PUBLIC_USER_URL=https://gratia-user.onrender.com
NEXT_PUBLIC_FOOD_URL=https://gratia-food.onrender.com
NEXT_PUBLIC_CLAIM_URL=https://gratia-claim.onrender.com