# ==============================
# Environment Files
# ==============================

.env

# ==============================
# Binaries
# ==============================

user_service

*.exe
*.dll
*.so
*.dylib

# ==============================
# Go
# ==============================

vendor/
coverage.out

# ==============================
# IDE
# ==============================

.vscode/
.idea/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Temp Files
# ==============================

tmp/
temp/